/*Escritorio*/
    /*Cabecera*/
    @media  (min-width: 1024px) {
    body {
        background: #1287bd;
        font-size: 24px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;    
    }
    header{
        display: flex;
        justify-content: space-between;
        background: #FEFDD0;
        margin: -1%;
        padding: 1%;
        width: auto;
        height: 156px;
    }
    .menu{
        text-align: end;
        padding-right: 2%;
    }
    .menu ul li{
        padding: 5px 0px 5px 0px;
    }
    .enlace-nav{
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    .enlace-nav:hover{
        background:white;
        transition: .5s;
        text-decoration: none;
        color: black;
    }
    
}

/*Tableta*/
@media  (max-width: 1024px) {
    body {
        background: #f8cbde;
        font-size: 18px;
        font-weight: bold;
    }
    /*cabecera*/
    header{
        display: flex;
        justify-content: space-between;
        background: #FEFDD0;
        margin: -2%;
        padding: 1%;
        width: auto;
        height: 156px;
    }
    .logo{
        width: 100%;
        height: auto;
    }
  
    #roulette
    {
        background-size: cover;
    }
}

/*Móvil*/
@media(max-width: 430px){
    body {
        background: #e1f6e9;
        font-size: 14px;
        font-weight: normal;
    }
    
    /*cabecera*/
    header{
        display: flex;
        justify-content: space-between;
        background: #FEFDD0;
        margin: -3%;
        padding: 2% 3%;
        width: 100%;
        height: 94px;
    }
    .containerlogo{
        width: 70%;
    }
    .logo{
        width: 100%;
        height: auto;
    }
    .menu{
        width:30%;
    }
    .checkbtn{
        display: block;
    }
    .menu ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .menu ul li .enlace-nav{
        font-size: 20px;
    }
    .menu ul li .enlace-nav:hover{
        background: none;
        color:#e1f6e9; 
    }
    
       
}
    .Container {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Container1 {
        width: 100%;
    }

    .Container2 {
       display: flex;
       width: 100%;
       justify-content: space-evenly;
        
    }

    .Container3 {
        display: none;
        width: 50%;
    }

    .dentro-container1 textarea {
        background: rgba(172, 162, 227, 0.8);
        border-radius: 20px;
 
    }
    .dentro-container1 label {
        text-align: center;
        background-color: rgba(172, 162, 227, 0.8);;
        border-radius: 20px;
        max-width: 97%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .dentro-container2 textarea {
        background: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
 
    }
    .dentro-container2 label {
        text-align: center;
        background-color: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
        max-width: 97%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    /*footer*/
footer{
    text-align: center;
}


