#roulette
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}

#roulette-img
{
    width: 40%;
    height: auto;
    z-index: 1;
}

#roulette-bkg
{
    width: 25%;
    height: 60%;
    position: absolute;
    background-color: cornflowerblue;
    border-radius: 100%;
}

#roulette-play
{
    width: 20%;
    height: 50%;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    border-color: black;
    background-color:cornflowerblue;
    box-sizing: border-box;
    box-shadow: #e1f6e9;
    z-index: 1;
}


@media (min-width: 768px) {
body {
    background: #f8cbde;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.logo{
    width: 100%;
    height: auto;
}
.Out {
    background: rgba(255, 225, 69, 0.8);
    border-radius: 20px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 145PX;
    margin-right: 155px;

}
.Eliminated {
    background: rgba(255, 225, 69, 0.8);
    border-radius: 20px;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    margin-left: 110px;
    margin-right: 80px;
    width: 150px;
    height: 80px;
    
}

}
@media (min-width: 380px) and (max-width: 768px) {
    body {
        background: #e1f6e9;
        font-size: 14px;
        font-weight: normal;
    }
    .logo{
        width: 100%;
        height: auto;
    }
    .Out {
        background: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 145PX;
        margin-right: 155px;
    
    }
    .Eliminated {
        background: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        margin-left: 110px;
        margin-right: 80px;
        width: 150px;
        height: 80px;
        
    }
    

    #Container2
    {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    #roulette
    {
        background-size: cover;
    }
}

.Container1 label {
    background-color: #aca2e3c4;
    border-radius: 10px;
    font-size: 18px;
    font-weight: lighter;
    max-width: min-content;
    display: block;
}

.Container1 textarea {
    background-color: #aca2e3c4;
    border-radius: 10px;
    display: block;
}