@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

/*Escritorio*/
    /*Cabecera*/
    html
    {
        width: 100%;
        height: 100%;
    }

    
 *{
        margin: 0%;
    }
    
    /*Escritorio*/
        /*Cabecera*/
        @media  (min-width: 1024px) {
        body {
            background: #1287BD;
            font-size: 24px;
            font-weight: normal;
            font-family: Arial, Helvetica, sans-serif;
        }
                header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            background: #FEFDD0;
            width: auto;
            height: 156px;
        }
        .toggle{
            margin-right: -35%;
            display: flex;
            border: none;
            background: none; 
            line-height: 90px;
            font-size: 50px;
            padding: 0 20px;
            cursor: pointer;
        }
        
        .nav-menu{
            margin-left: -30%;
            margin-top: 41%;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 50px;
            display: block;
            list-style: none;
            padding-right: 30px;
            background: #FEFDD0;
            top: 156px;
            left: 0;
          
            /**ajustados**/
            height:  calc(100%- 156px);
            overflow-y: auto;
            left: 100%;
            transition: right 0.3s;
        }
        .nav-menu_visible{
            left: 0px;
        }
        .nav-menu li{
            line-height: 120px;
            text-align: right;
        }
        .nav-menu li a{
            text-decoration:none;
            color: black
        }
        .nav-menu li a:hover, .nav-menu li a:active{
            background-color: none;
            color: rgb(116, 11, 11);
        }
        .nav-menu-item{
            margin-left: -30%;
            margin-top: 15%;
        }


        .container {
            display: flex;
           width: 100%;
           justify-content: space-evenly;
           margin: 10px;
            flex-direction: column;
            text-align: center; 
           
        }
    
        .container1 {
                width: 100%;
            }
    
        .inside-container input {
            text-align: center;
            background-color: rgba(35, 149, 255, 0.8);;
            border-radius: 20px;
            max-width: 97%;
            height: 30px;
            padding: 5px;
              
        }
    
        .container2 {
           display: flex;
           width: 100%;
           justify-content: space-evenly;
           margin: 10px;
           
           
           
        }
    
        .inside-container1 label {
            text-align: center;
            background-color: rgba(172, 162, 227, 0.8);;
            border-radius: 20px;
            max-width: 97%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
           
        } 
        .inside-container1 textarea {
            background: rgba(172, 162, 227, 0.8);
            border-radius: 20px;
            margin: 10px;
        }
    
         .inside-container2 label {
            text-align: center;
            background-color: rgba(255, 225, 69, 0.8);
            border-radius: 20px;
            max-width: 97%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            
            
        } 
    
        .inside-container2 textarea {
            background: rgba(255, 225, 69, 0.8);
            border-radius: 20px;
            margin: 10px;
    
            
        }
    
        .container3 {
                display: none;
                width: 10%;
            }
    
        .containerphoto {
            background-image: url(../images/niñosdelamano.png);
            width: 100%;
            height: 173px ;
            margin: -10px;
            
        }
         
         /*footer*/

        .Footer {
   
            background-color: #FEFDD0;
            width: 100%;
            height: 30px;
            margin: 5px;
            justify-content: center;
            align-items: center;
            text-align: center;
        
   
}

    
        }


/*Móvil*/
@media(max-width: 768px){
    body {
        background: #ffffff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /*cabecera*/
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: #FEFDD0;
        width: auto;
        height: 156px;
        
    }

    .logo{
        width: 60%;
        height: auto;
    }

    .toggle{
        display: block;
        border: none;
        background: none;
        line-height: 90px;
        font-size: 50px;
        padding: 0 20px;
        cursor: pointer;
    }

    .nav-menu{
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 50px;
        display: none;
        list-style: none;
        padding-right: 30px;
        background: #FEFDD0;
        top: 156px;
        left: 0;
        position: fixed;
        /**ajustados**/
        height:  calc(100%- 156px);
        overflow-y: auto;
        left: 100%;
        transition: right 0.3s;
    }

    .nav-menu_visible{
        left: 0px;
    }
}

    .nav-menu li{
        line-height: 120px;
        text-align: right;
    }

    .nav-menu li a{
        text-decoration:none;
        color: black
    }

    .nav-menu li a:hover, .nav-menu li a:active{
        background-color: none;
        color: rgb(116, 11, 11);
    }


    .containerlogo{
        width: 70%;
    }

    .menu{
        width:30%;
    }

    .checkbtn{
        display: block;
    }

    .menu ul li{
        display: block;
        margin: -24px 0;
        line-height: 2px;
    }

    .menu ul li .enlace-nav{
        font-size: 20px;
    }

    .menu ul li .enlace-nav:hover{
        background: none;
        color:#e1f6e9;
    }
    
       
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center; 
       
    }

    .container1 {
            width: 100%;
        }

    .inside-container input {
        text-align: center;
        background-color: rgba(35, 149, 255, 0.8);;
        border-radius: 20px;
        max-width: 97%;
        height: 30px;
        padding: 5px;
          
    }

    .container2 {
       display: flex;
       width: 100%;
       justify-content: space-evenly;
       margin: 10px;
       
    }

    .inside-container1 label {
        text-align: center;
        background-color: rgba(172, 162, 227, 0.8);;
        border-radius: 20px;
        max-width: 97%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
       
    } 
    .inside-container1 textarea {
        background: rgba(172, 162, 227, 0.8);
        border-radius: 20px;
        margin: 10px;
    }

     .inside-container2 label {
        text-align: center;
        background-color: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
        max-width: 97%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        
        
    } 

    .inside-container2 textarea {
        background: rgba(255, 225, 69, 0.8);
        border-radius: 20px;
        margin: 10px;

        
    }

    .container3 {
            display: none;
            width: 10%;
        }

    .containerphoto {
        background-image: url(../images/niñosdelamano.png);
        width: 100%;
        height: 173px ;
        margin: -10px;
        z-index: 1;
    }
     

    /*footer*/

.Footer {
   
    background-color: #FEFDD0;
    width: 100%;
    height: 30px;
    margin-top: 4%;
    text-align: center;
  
   
}
footer {
    background-color: #FEFDD0;
}

#roulette
{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roulette-bkg
{
    width: 40%;
    height: auto;
}

#roulette-btn
{
    width: 24vw;
    height: auto;
    z-index: 1;
    margin-top: -3%;
    margin-left: -21.1%;
    transform: scale(2);
}

#roulette-btn2
{
    width: 25%;
    height: auto;
    position: absolute;
    font-size: 3vw;
    text-align: center;
}
